.CustomButton {
  display: flex;
  justify-content: center;
  min-width: 165px;
  width: auto;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  outline: none;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: white;
    color: black;
    border-color: black;
  }

  &.google-btn {
    background: #4285f4;
    color: white;
    &:hover { background: #357ae8; border-color: transparent; }
  }

  &.inverted {
    background: white;
    color: black;
    border-color: transparent;
    &:hover {
      background: black;
      color: white;
    }
  }
}
