.NavBar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  &__logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  &__links {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__shop,
  &__contact,
  &__auth { padding: 10px 15px; cursor: pointer; }

}
